<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About the owner</title>
</head>
<body>
{% block content %}

<div style="margin-left:180px;margin-top:130px">

    <div class="container col-lg-3 col-md-3">

        <div class="row">

            <h2 style="font-family:trebuchet ms"><strong>Who was Trajan?</strong></h2>
            <p class="lead"  style="font-family:trebuchet ms">Trajan was the first Roman emperor to be born outside of Rome. He was born in Italica, Spain on Sep 18, 53 AD</p>
            <p style="font-family:verdana;font-size:15px">
                Column 1
            </p>

            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="Sunset tree" width="375" height="300" style="margin-bottom:150px">

       </div>

    </div>

    <div class="container col-lg-3 col-md-3" style="margin-left:130px">

        <div class="row">

            <h2 style="font-family:trebuchet ms"><strong>Who was Trajan?</strong></h2>
            <p class="lead"  style="font-family:trebuchet ms">Trajan was the first Roman emperor to be born outside of Rome. He was born in Italica, Spain on Sep 18, 53 AD</p>
            <p style="font-family:verdana;font-size:15px">
                Column 2
            </p>

        </div>

    </div>

    <div class="container col-lg-3" col-md-3 style="margin-left:130px">

        <div class="row">

            <h2 style="font-family:trebuchet ms"><strong>Who was Trajan?</strong></h2>
            <p class="lead"  style="font-family:trebuchet ms">Trajan was the first Roman emperor to be born outside of Rome. He was born in Italica, Spain on Sep 18, 53 AD</p>
            <p style="font-family:verdana;font-size:15px">
                Column 3
            </p>

        </div>

    </div>

</div>

{% endblock %}
</body>
</html>