<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new student</title>
</head>
<body>

{% block content %}

<div class="container col-lg-offset-1">

    <div class="row">

        <div>

            <form action="/students/createstudentredirect" method="POST">

                <p style="font-size:400%;color:#2C3539;margin-top:130px;margin-bottom:40px">Create a new student here</p>

                <div class="form-group">
                    <label style="font-size:300%;color:#808000">First Name:  </label>
                    <input class="form-control" type="text" style="font-size:150%" name="firstname" required>
                </div>

                <br>

                <div class="form-group">
                    <label style="font-size:300%;color:#808000">Last Name:  </label>
                    <input class="form-control" type="text" style="font-size:150%" name="lastname" required>
                </div>

                <br>

                <div class="form-group">
                    <label style="font-size:300%;color:#808000">Gender:  </label><br>
                    <select style="font-size:200%" name="gender">
                        <option value=" "> </option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>

                <br>

                <div class="form-group">
                    <label style="font-size:300%;color:#808000">Address:  </label>
                    <input class="form-control" type="text" style="font-size:150%" name="address" required>
                </div>

                <br>

                <div class="form-group">
                    <label style="font-size:300%;color:#808000">Major:  </label>
                    <input class="form-control" type="text" style="font-size:150%" name="major">
                </div>

                <br>
                <br>

                <button type="submit" style="font-size:150%;margin-bottom:50px" class="btn btn-success">Submit</button>
                <button type="reset" style="font-size:150%;margin-left:50px;margin-bottom:50px" class="btn btn-warning">Reset</button>

            </form>

        </div>

    </div>

</div>


{% endblock %}
</body>
</html>