<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TUSHAR's Site</title>
</head>
<body>
{% block content %}

<div class="container-fluid">

    <div class="row">

        <div class="col-lg-offset-1 col-md-6 col-sm-12" style="padding-top:90px">

        <br>
        <br>
        <br>
        <br>

        <div class="jumbotron">
            <h1 style="font-family:trebuchet ms"><strong>I'm Tushar</strong></h1>
            <h2 style="font-family:trebuchet ms"><strong>Welcome</strong></h2>
        <br>
            <p style="font-family:trebuchet ms">Take a look around!</p>
        </div>

        <br>
        <br>

        <h1 style="font-family:trebuchet ms"><strong>Header 1</strong></h1>
            <p class="lead"  style="font-family:trebuchet ms">European languages are for the most part similar and their separate existence is a myth.</p>
            <p style="font-family:verdana;font-size:15px">
                Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.
                Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On
                refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues
                coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e
                regulari quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental. A un Angleso it va semblar un
                simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.Li Europan lingues es membres del sam familie. Lor separat existentie
                es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li
                plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser
                necessi far uniform grammatica, pronunciation e plu sommun paroles.
            </p>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>


        </div>


{#        <div class="col-lg-4 col-md-6 col-sm-12 col-lg-push-1"#}
{#             style="background-color:#008B8B;padding-bottom:150px;padding-left:143px;padding-top:30px;#}
{#             margin-top:130px;margin-bottom:50px">#}
{##}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{##}
{#            <h1 style="color:#F5FFFA;margin-top:-50px"><strong>Sidebar with images</strong></h1>#}
{##}
{#            <br>#}
{##}
{#            <div>#}
{#                <figure>#}
{#                    <img src="https://cdn.wallpapersafari.com/79/7/AB7afO.jpg" class="visible-lg thumbnail" width="275" height="175"#}
{#                         alt="Temple">#}
{##}
{#                    <img src="https://cdn.wallpapersafari.com/79/7/AB7afO.jpg" class="visible-md thumbnail" width="350" height="250"#}
{#                         alt="Temple">#}
{##}
{#                    <figcaption style="color:#F5FFFA;font-size:20px;margin-top:10px">Chinese Temple</figcaption>#}
{#                </figure>#}
{#            </div>#}
{##}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{##}
{#            <figure>#}
{#                <img src="https://i.insider.com/5cc724d8c013352e2208d4fa?width=1136&format=jpeg" class="visible-lg thumbnail" width="275" height="175" alt="Tulip Fields">#}
{##}
{#                <img src="https://i.insider.com/5cc724d8c013352e2208d4fa?width=1136&format=jpeg" width="375" height="300" alt="Tulip Fields" class="visible-md thumbnail">#}
{#                <figcaption style="color:#F5FFFA;font-size:20px;margin-top:10px">Tulip Fields</figcaption>#}
{#            </figure>#}
{##}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{##}
{#            <figure>#}
{#                <img src="https://www.worldatlas.com/r/w1200/upload/9d/bc/ac/shutterstock-517369813.jpg"#}
{#                     class="visible-lg col-lg-pull-2 thumbnail" width="275" height="175" alt="Swamp">#}
{#                <figcaption class="visible-lg" style="color:#F5FFFA;font-size:20px;margin-top:10px">LARGE screen</figcaption>#}
{##}
{#                <img src="https://i.natgeofe.com/n/896c9444-049f-48c2-ab8d-d33e02225368/9095.jpg?w=636&h=477"#}
{#                     width="375" height="300" alt="Savannah" class="visible-md thumbnail">#}
{#                <figcaption class="visible-md" style="color:#F5FFFA;font-size:20px;margin-top:10px">MEDIUM screen</figcaption>#}
{##}
{#                <img  src="https://images.unsplash.com/photo-1520106212299-d99c443e4568?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cnVzc2lhfGVufDB8fDB8fA%3D%3D&w=1000&q=80"#}
{#                  width="375" height="500" alt="Cathedral" class="visible-xs visible-sm thumbnail">#}
{#                <figcaption class="visible-xs visible-sm" style="color:#F5FFFA;font-size:20px;margin-top:10px">XS/SMALL screen</figcaption>#}
{#            </figure>#}
{##}
{#        </div>#}

    </div>
</div>


{% endblock %}
</body>
</html>
